div h1 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase; }

#test-target {
  font-size: 16px;
  color: palevioletred;
  width: 500px;
  text-align: justify;
  display: none; }

.show {
  display: block !important; }
