html, body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    &__hero{
        width: 100vw;
        height: 100vh;
        background-image: url('./assets/img/light-bulb.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        &-title{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            color: #fafafa;
            font-size: 40px;
        }
    }
}
#test-target{
    font-size: 16px;
    width: 100%;
    text-align: justify;
    display: none;
}

.show{
    display: block !important;
}
.content{
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 60px auto;
    position: relative;
    &__title{
        font-family: 'Oxygen', sans-serif;
        font-weight: 400;
        font-size: 30px;
        color: #333333;
        position: sticky;
        top: 10px;
    }
    &__container{
        margin: 30px 0 0 40px;
        width: calc(100% - 40px);
        &-content{
            font-family: 'Oxygen', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }
        button{
            background: transparent;
            border: none;
            font-family: 'Oxygen', sans-serif;
            font-weight: 400;
            font-size: 16px;
            border-bottom: 1px solid #bbbbbb;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
    }
}
.about{
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 60px auto;
    position: relative;
    &__title{
        font-family: 'Oxygen', sans-serif;
        font-weight: 400;
        font-size: 30px;
        color: #333333;
        position: sticky;
        top: 10px;
    }
    &__container{
        margin: 30px 0 0 40px;
        width: calc(100% - 40px);
        &-content{
            font-family: 'Oxygen', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }
    }
}